@use "sass:math";
@use "mixin" as *;

@keyframes scaleBigOut {
  0% {
    transform: scale(0);
    color: transparent;
  }
  100% {
    transform: scale(1);
    color: transparent;
  }
}


.topic1-scene{
  @include base-scene(top left);
}

