@use 'sass:map';
@use "@/shared/assets/styles/vars.scss" as vars;
@use "../../styles/_mixins.scss" as _mixins;
@use "../../styles/_vars.scss" as _vars;

.report-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: map.get(vars.$space, s);

  &__title {
    width: 100%;
    text-align: start;
    font-size: map.get(vars.$font-size, l);
    font-weight: map.get(vars.$font-weight, bolder);
    margin-bottom: map.get(vars.$space, xxs);
  }

  .report-item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    @include _mixins.card;
    padding-left: 0;
    padding-right: 0;
    &__title {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: map.get(vars.$font-size, m);
      font-weight: map.get(vars.$font-weight, bold);
      border-bottom: 1px solid _vars.$border-color;
      margin-bottom: map.get(vars.$space, s);
      span {
        margin-left: map.get(vars.$space, l);
        margin-bottom: map.get(vars.$space, xs);
      }
    }
    &__content {
      width: 100%;
      height: auto;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: map.get(vars.$space, s);
      font-size: map.get(vars.$font-size, s);
      padding-left: map.get(vars.$space, l);
      padding-right: map.get(vars.$space, l);
    }
    &__line {
      width: 100%;
      display: flex;
      justify-content: space-between;
      label {
        color: map.get(vars.$colors, neutral-3);
        font-weight: map.get(vars.$font-weight, normal);
      }
      span {
        color: map.get(vars.$colors, neutral-1);
        font-weight: map.get(vars.$font-weight, light);
      }
    }
  }
  .history-diag {
    height: auto;
    flex-shrink: 0;
    max-height: 300px;
    overflow: auto;
    &::-webkit-scrollbar {
      opacity: 0;
    }
    &__content {
      overflow: auto;
    }
    &__item {
      .doctor-name {
        height: 30px;
        font-weight: map.get(vars.$font-weight, bold);
        font-size: map.get(vars.$font-size, m);
        padding: 0;
      }
      .ex-conclusion {
        font-weight: map.get(vars.$font-weight, normal);
      }
    }
  }
  .conclusion {
    height: auto;
    .report-item__content {
      position: relative;
      height: 100%;
      :deep(textarea) {
        overflow: auto;
        font-weight: map.get(vars.$font-weight, normal);
      }
      .el-select {
        position: relative;
        width: 100%;
      }
    }
  }
  .report-opt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__save {
      width: 100%;
      //@include resetElement.resetButton();
    }
    &__export {
      width: 100%;
      //@include resetElement.resetButton($type: 'info');
    }
  }
}