@use 'sass:map';
@use "@/shared/assets/styles/vars.scss" as vars;
@use "../../styles/_mixins.scss" as _mixins;
@use "../../styles/_vars.scss" as _vars;

.patient-info-area {
  @include _mixins.left-area();
  &__content {
    width: 100%;
    height: auto;
    @include _mixins.card;
  }

  .patient-base-info {
    width: 100%;
    border-bottom: 1px solid _vars.$border-color;
    &__item {
      align-self: start;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      label {
        width: 100%;
        text-align: start;
        font-size: map.get(vars.$font-size, s);
        font-weight: map.get(vars.$font-weight, light);
        color: map.get(vars.$colors, neutral-3);
        margin-bottom: map.get(vars.$space, xxxs);
      }
      span {
        width: 100%;
        height: auto;
        text-align: start;
        font-size: map.get(vars.$font-size, m);
        font-weight: map.get(vars.$font-weight, normal);
        color: map.get(vars.$colors, neutral-1);
        margin-bottom: map.get(vars.$space, s);
        overflow-wrap: break-word; // 允许在任意字符间断行
        word-break: break-all; // 允许在单词内断行
        white-space: normal;
      }
    }
  }

  .patient-history-case {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    $padding: map.get(vars.$space, s);
    padding: $padding;
    &__title {
      width: 100%;
      height: auto;
      margin: 0;
      text-align: start;
      font-size: map.get(vars.$font-size, m);
      font-weight: map.get(vars.$font-weight, bold);
    }
    &__content {
      position: relative;
      width: 100%;
      height: auto;
      max-height: 180px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      $gap: map.get(vars.$space, s);
      gap: $gap;
      margin-top: $gap;
      &::-webkit-scrollbar {
        opacity: 0;
      }
    }
    &__item {
      position: relative;
      width: 90%;
      height: auto;
      display: flex;
      align-items: center;
      padding: map.get(vars.$space, xxs) 0;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in-out;
        transform: scale(0, 1);
      }
      &:hover {
        &::before {
          background-color: map.get(vars.$colors, neutral-14);
          transform: scale(1.1, 1);
        }
      }
      .point {
        @include _mixins.point;
      }
      .info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        .date {
          width: 100%;
          text-align: start;
          font-size: map.get(vars.$font-size, m);
          font-weight: map.get(vars.$font-weight, normal);
        }
        .description {
          width: 100%;
          text-align: start;
          font-size: map.get(vars.$font-size, s);
          font-weight: map.get(vars.$font-weight, light);
          color: map.get(vars.$colors, neutral-3);
          margin-top: map.get(vars.$space, xxxs);
          display: flex;
          gap: map.get(vars.$space, xxs);
        }
      }
      .el-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}