@use '@/shared/assets/styles/vars' as vars;
@use "sass:map";
@use '@/shared/assets/styles/resetElement' as resetElement;

// 组件样式变量定义
$container-clr--bg: map.get(vars.$colors, neutral-1);
$title-clr--text: map.get(vars.$colors, neutral-2);

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba($container-clr--bg, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

@mixin base-content {
  background-color: map.get(vars.$colors, _white);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px rgba(map.get(vars.$colors, neutral-5), 0.5);
  transition: 0.3s ease-in-out;
}

.login-content {
  width: 20%;
  height: 50%;
  min-width: 16rem;
  min-height: 30rem;
  @include base-content;
  overflow: hidden;

  .login-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .register-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.login-content__logo {
  position: relative;
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    position: relative;
    height: 50%;
    object-fit: contain;
  }
}

.login-content__title {
  //color: map.get(vars.$colors,neutral-2);
  width: 100%;
  height: 10%;
  color: $title-clr--text;
  font-weight: bold;
  font-size: map.get(vars.$font-size, xl);
}

.login-content__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

    :deep(.el-form ) {
      width: 80%;
      height: auto;
      .el-form-item {
        margin-top: 1rem;
        &.password-opt .el-form-item__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .el-input {
        width: 100%;
        height: clamp(1.5rem, 2.5rem, 3rem);
        .el-input__wrapper {
          border-radius: 0.5rem;
        }
        .el-icon {
          font-size: 1rem;
          svg path {
            fill: map.get(vars.$colors, neutral-5);
          }
        }
      }
      .el-button {
        width: 100%;
        height: clamp(1.5rem, 2.5rem, 3rem);
        border-radius: 0.3rem;
        //background-color: map.get(vars.$colors,primary);
        @include resetElement.resetButton();
      }

      .el-link {
        //color: map.get(vars.$colors,primary);
        &:after {
          border: 0;
        }
        .el-link__inner {
          $underline-color: map.get(vars.$colors, primary-dark-1);
          background: linear-gradient(to right, $underline-color, $underline-color) no-repeat right bottom;
          background-size: 0 2px;
          transition-duration: 0.3s;
          transition-property: background-size, color;
          transition-timing-function: ease-in-out;
          cursor: pointer;
          &:hover {
            color: $underline-color;
            background: linear-gradient(to right, $underline-color, $underline-color) no-repeat left bottom;
            background-size: 100% 2px;
          }
        }
      }
    }

}

.login-content__register {
  margin-top: -0.5rem;
  width: 100%;
  flex-grow: 1;
  a {
    font-size: map.get(vars.$font-size, s);
    color: map.get(vars.$colors, neutral-5);
    underline: none;
  }
}

.register-content {
  position: relative;
  width: 40%;
  height: auto;
  min-width: 18rem;
  min-height: 70%;
  max-height: 80%;
  @include base-content;
  gap: 0;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.register-content__title {
  position: relative;
  width: 100%;
  height: auto;
  color: $title-clr--text;
  font-weight: map.get(vars.$font-weight, bold);
  font-size: map.get(vars.$font-size, xxl);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 5%;
}
.register-content__text {
  width: 100%;
  height: 5%;
  color: $title-clr--text;
  font-weight: normal;
  font-size: map.get(vars.$font-size, s);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-80%);
}

.register-content__form {
  width: 90%;
  :deep {
    .el-form-item {
      .el-form-item__label {
        width: 100%;
        margin-bottom: 0;
      }

      .el-input {
        width: 100%;
        height: clamp(1.5rem, 2.5rem, 3rem);
        .el-input__wrapper {
          border-radius: 0.5rem;
        }
      }
      .el-button {
        width: 100%;
        height: clamp(1.5rem, 2.5rem, 3rem);
        border-radius: 0.3rem;
        @include resetElement.resetButton();
      }
    }
  }
}

.register-content--login {
  a {
    font-size: map.get(vars.$font-size, s);
    color: $title-clr--text;
    underline: none;

    span {
      color: map.get(vars.$colors, primary);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease-in-out;
}
.fade-enter-active {
  transition-delay: 0.25s;
}
.fade-enter-from {
  opacity: 0;
  transform: translateY(100%);
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
