@use '../../../assets/styles/vars' as vars;
@use 'sass:map';
.nav-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// logo area
.nav__logo-area {
  position: relative;
  //flex-grow: 1;
  width: clamp(150px, 10%, 200px);
  height: 100%;
  @include flex-center();
  justify-content: start;
  margin-right: 3rem;
  margin-left: 1rem;

  .nav-logo {
    position: relative;
    width: 100%;
  }
}

// tab area
.nav__tab-area {
  position: relative;
  flex-grow: 16;
  height: 100%;
  @include flex-center();
  justify-content: start;
  gap: map.get(vars.$space, xxl);
  .tab-item {
    position: relative;
    @include flex-center();
    width: clamp(70px, 8%, 100px);
    height: 100%;
    $color: map.get(vars.$colors, primary);
    span {
      width: 100%;
      height: 100%;
      font-size: map.get(vars.$font-size, m);
      font-weight: map.get(vars.$font-weight, normal);
      background: linear-gradient(to right, $color, $color) no-repeat right bottom;
      background-size: 0 2px;
      transition-duration: 0.3s;
      transition-property: background-size, color, font-size, font-weight;
      //will-change: font-weight;
      transition-timing-function: ease-in-out;
      cursor: pointer;
      @include flex-center();
      &:hover {
        color: $color;
        background: linear-gradient(to right, $color, $color) no-repeat left bottom;
        background-size: 100% 2px;
      }
    }
    &.active {
      span {
        color: $color;
        background: linear-gradient(to right, $color, $color) no-repeat left bottom;
        background-size: 100% 2px;
        font-weight: map.get(vars.$font-weight, bold);
      }
    }
  }
}

// user area
.nav__user-area {
  position: relative;
  flex-grow: 4;
  height: 100%;
  @include flex-center();
  .icon-item {
    @include flex-center();
    margin-right: 1rem;
    :deep(path) {
      fill: map.get(vars.$colors, neutral-6);
      transition: all 0.3s;
    }
    &:hover {
      :deep(path) {
        fill: map.get(vars.$colors, primary);
      }
    }
  }
  .user-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 1rem;
    .user-item__avatar {
      @include flex-center();
    }
    .user-item__info {
      @include flex-center();
      flex-direction: column;
      align-items: start;

      .user-item__info__name {
        font-size: map.get(vars.$font-size, s);
      }
      .user-item__info__department {
        font-size: map.get(vars.$font-size, xs);
      }
    }
  }
}
