@use "sass:map";
@use "@/shared/assets/styles/vars.scss" as vars;
@mixin left-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &__title {
    width: 100%;
    text-align: start;
    font-size: map.get(vars.$font-size, l);
    font-weight: map.get(vars.$font-weight, bolder);
    margin-bottom: map.get(vars.$space, m);
  }
}
@mixin point {
  position: relative;
  width: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: map.get(vars.$space, s);
  background-color: map.get(vars.$colors, primary-light-3);
}

@mixin card {
  border: 1px solid map.get(vars.$colors, neutral-15);
  border-radius: 0.5rem;
  padding: map.get(vars.$space, l);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}