@use "@/shared/assets/styles/vars" as vars;
@use 'sass:map';

.pm-search{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  flex-wrap: wrap;
  gap: map.get(vars.$space,m);
}

.pm-search{
  &__input{
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    gap: map.get(vars.$space,m);

    .el-button{
      width: clamp(70px,5rem,80px);
      height: 100%;
    }


  }
  &__select{
    position: relative;
    align-items: start;
    width:30%;
    display: flex;
    flex-direction: column;
    align-content: start;
    label{
      font-size: map.get(vars.$font-size, s);
      font-weight: map.get(vars.$font-weight, light);
    }
  }
}