@use "sass:map";
@use "@/shared/assets/styles/vars.scss" as vars;
.cm-main {
  position: relative;
  width: 100%;
  height: 80%;
  max-height: 650px;
  display: flex;
  justify-content: center;
  align-items: start;
  $padding: map.get(vars.$space, m);
  padding: $padding;

  .el-table {
    --el-table-header-bg-color: #{map.get(vars.$colors, _white)};
  }

  .el-table {
    position: relative;
    width: 100%;
    height: 100%;
    :deep(.el-scrollbar__view) {
      width: 100%;
    }

    .table-opt {
      display: flex;
      gap: 10px;

      .el-icon {
        &:hover {
          color: map.get(vars.$colors, primary);
          cursor: pointer;
        }
      }
    }
  }
}